// color

$Yellow: #FCB72B;
$Dark-navy: #495567;
$Dim-grey: #939CAA;
$Light-grey: #E5ECF4;
$Snow: #F2F5F9;
$Light-yellow: #FFF4DF;

// font-family

$font-primary: 'Space mono', monospace;
$font-secondary: 'Lexend Deca', sans-serif;

